<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/gossips">The Gossip Project</a>
   <a href="/sessions/destroy"  class="btn btn-primary" data-method = delete> DECONECTION</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>
</nav>


<div class="card mx-auto my-5" style="width: 18rem;">
  <div class="card-body text-center">
    <h2 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @user.age %> ans</h6>
    <p class="card-text"> <%= @user.description %> </p>
    <a href="#" class="card-link"><%= @user.email %></a>
    <a href="#" class="card-link"><%= @user.city.name %></a>
  </div>
</div>

